.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidebar header {
  font-size: 22px;
  margin-top: 0;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar ul a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  box-sizing: border-box;
  border-top: 1px solid rgb(77, 118, 255);
  transition: 0.5s;
}

.sidebar ul li:hover a {
  padding-left: 20px;
}
#list {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.list {
  padding-left: 320px;
  align-items: center;
  width: 600px;
}
.list .listbx {
  position: relative;
}
.list .listbx .title {
  position: relative;
  padding: 10px;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  cursor: pointer;
}
.list .listbx .title::before {
  content: "+";
  position: absolute;
  top: 5%;
  right: 5px;
  transform: translate(-50%);
  font-size: 1.5em;
}
.list .listbx.listbx.active .title::before {
  content: "-";
}
.list .listbx .content {
  position: relative;
  padding: 0;
  color: white;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.list .listbx.active .content {
  height: 300px;
  padding: 10px;
}
body {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
